.root {
  position: relative;
  width: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--primary);
  transition: all 1s, background-color 0.2s, border-radius 1s cubic-bezier(0.4, 0, 1, 1);
}

.root:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.label {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
